<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="custom">

    <insert id="insert" parameterType="org.example.wsd_proj.VO.PostVO">
        insert into custom(title, author, content)
        values(#{title}, #{author}, #{content})
    </insert>

</mapper>
