<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">

    <insert id="insert" parameterType="org.example.wsd_proj.VO.PostVO">
        insert into post(title, author, content)
        values(#{title}, #{author}, #{content})
    </insert>

    <update id="update" parameterType="org.example.wsd_proj.VO.PostVO">
        update post set title = #{title}, author = #{author}, content = #{content}, modifiedAt = now()
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from post where id = #{id}
    </delete>

    <select id="selectAll" resultType="org.example.wsd_proj.VO.PostVO">
        select * from post
    </select>

    <select id="selectById" parameterType="int" resultType="org.example.wsd_proj.VO.PostVO">
        select * from post where id = #{id}
    </select>

    <select id="selectByTitle" parameterType="String" resultType="org.example.wsd_proj.VO.PostVO">
        select * from post where title like #{keyword}
    </select>

</mapper>
