<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="recipe" type="org.example.wsd_proj.VO.Recipe"/>
        <typeAlias alias="nutrition" type="org.example.wsd_proj.VO.Nutrition"/>
        <typeAlias alias="manual" type="org.example.wsd_proj.VO.Manual"/>
        <typeAlias alias="crecipe" type="org.example.wsd_proj.VO.CRecipe"/>
        <typeAlias alias="cnutrition" type="org.example.wsd_proj.VO.CNutrition"/>
        <typeAlias alias="cmanual" type="org.example.wsd_proj.VO.CManual"/>
    </typeAliases>
</configuration>
